.container-navbar {
    background-color: antiquewhite;
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 30%;
    margin: 1%;
}

ul {
    display: flex;
    align-items: center;
}

a {
    color: #4CB8C4;
}

a:hover {
    color: #3CD3AD;
}

li {
    list-style: none;
    padding: 0pt 20pt;
}